body {
  position: relative;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 9999;
  -webkit-animation-name: ol-text-vanish;
          animation-name: ol-text-vanish;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.overlay .ol-text {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.overlay .ol-text .char {
  display: inline-block;
  opacity: 0;
  -webkit-animation-name: ol-text-animation;
          animation-name: ol-text-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.overlay .ol-text .char:nth-of-type(1) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.overlay .ol-text .char:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.overlay .ol-text .char:nth-of-type(3) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.overlay .ol-text .char:nth-of-type(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.overlay .ol-text .char:nth-of-type(5) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.overlay .ol-text .char:nth-of-type(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.overlay .ol-text .char:nth-of-type(7) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.overlay .ol-text .char:nth-of-type(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.overlay .ol-text .char:nth-of-type(9) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.overlay .ol-text .char:nth-of-type(10) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.overlay .ol-text .char:nth-of-type(11) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.overlay .ol-text .char:nth-of-type(12) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.overlay .ol-text .char:nth-of-type(13) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

.overlay .ol-text .char:nth-of-type(14) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.overlay .ol-text .char:nth-of-type(15) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.overlay.out-view {
  opacity: 0;
  visibility: hidden;
}

.content {
  position: relative;
  height: 100vh;
  background-color: teal;
}

.content span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes ol-text-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ol-text-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ol-text-vanish {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
    opacity: 0;
  }
}

@keyframes ol-text-vanish {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */