.area {
  height: 1000px;
  background-color: turquoise;
  &:nth-of-type(even) {
    background-color: wheat;
  }
}
h2 {
  position: sticky;
  top: 0;
}
.scroll {
  display: flex;
  overflow-x: scroll;
  & div {
    min-width: 600px;
  }
}
