@import '../../css/foundation/mixin';

img {
  width: 100%;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 1.5s;
  }

  & .circle {
    display: block;
    position: relative;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    @include animation($name:load, $duration:0.5s, $timing-function:steps(8, start), $iteration-count:infinite, $fill-mode:forwards);

    @keyframes load {
      to {
        transform: rotate(360deg);
      }
    }

    & span {
      position: absolute;
      top: calc(50% - 5px);
      left: 50%;
      display: block;
      width: 20px;
      height: 10px;
      transform-origin: left;

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 5px);
        left: 20px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
      }

      @for $i from 1 through 8 {
        &:nth-of-type(#{$i}) {
          transform: rotate(45deg * $i);

          &::after {
            opacity: 1 - 0.125 * $i;
          }
        }
      }
    }
  }
}
